---
RHEL Version: "{{ ansible_facts['distribution_version'] }}"
Available Updates:
{% for package in available_version_output.results %}
  - Name: "{{ package.name }}" Version: "{{ package.version }}"
{% endfor %}

